themes {
    material-muted {
        fg "#d7dce5"
        bg "#16181a"
        black "#16181a"
        red "#c97b87"
        green "#7fa766"
        yellow "#c9b07b"
        blue "#6f94b6"
        magenta "#9d88bf"
        cyan "#5f9ea8"
        white "#b8c0cc"
        orange "#c99a6b"
    }
}

theme "material-muted"
show_startup_tips false
simplified_ui false

pane_frames true

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

default_tab_template {
    children
    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[fg=#6f94b6]{session} #[fg=#9d88bf]{mode} #[fg=#d7dce5]{tabs}"
            format_center ""
            format_right "#[fg=#70798b]{datetime}"
            format_space ""

            hide_frame_for_single_pane "true"
            hide_tab_bar_on_fullscreen "true"

            mode_normal "#[fg=#7fa766] {name} "
            mode_locked "#[fg=#c97b87] {name} "

            tab_normal "#[fg=#70798b] {name} "
            tab_active "#[fg=#6f94b6,bold] {name} "
        }
    }
}

keybinds  {

    shared_except "locked" {
      // NORMAL
      unbind "Ctrl n"
      bind "Alt n" { SwitchToMode "Normal"; }

      // LOCK
      unbind "Ctrl g"
      bind "Alt g" { SwitchToMode "Locked"; }

      // PANE
      unbind "Ctrl p"
      bind "Alt p" { SwitchToMode "Pane"; }

      // TAB
      unbind "Ctrl t"
      bind "Alt t" { SwitchToMode "Tab"; }

      // RESIZE
      unbind "Ctrl n"
      bind "Alt r" { SwitchToMode "Resize"; }

      // MOVE
      unbind "Ctrl h"
      bind "Alt m" { SwitchToMode "Move"; }

      // SESSION
      unbind "Ctrl o"
      bind "Alt s" { SwitchToMode "Session"; }

      // QUIT
      unbind "Ctrl q"
      bind "Alt q" { Quit; }

      // SEARCH
      unbind "Ctrl s"
      bind "Alt f" { SwitchToMode "Search"; }

      // NEW PANES
      unbind "Ctrl |"
      bind "Alt |" { NewPane; }

      // TMUX
      unbind "Ctrl b"

      // TABS
      bind "Alt 1" { GoToTab 1; }
      bind "Alt 2" { GoToTab 2; }
      bind "Alt 3" { GoToTab 3; }
      bind "Alt 4" { GoToTab 4; }
      bind "Alt 5" { GoToTab 5; }
      bind "Alt 6" { GoToTab 6; }
      bind "Alt 7" { GoToTab 7; }
      bind "Alt 8" { GoToTab 8; }
      bind "Alt 9" { GoToTab 9; }
    }

    locked {
        unbind "Ctrl g"
        bind "Alt g" { SwitchToMode "Normal"; }
    }
}
