themes {
    material-muted {
        fg "#d7dce5"
        bg "#16181a"
        black "#16181a"
        red "#c97b87"
        green "#7fa766"
        yellow "#c9b07b"
        blue "#6f94b6"
        magenta "#9d88bf"
        cyan "#5f9ea8"
        white "#b8c0cc"
        orange "#c99a6b"
    }
}

theme "material-muted"
show_startup_tips false

pane_frames false

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds  {

    shared_except "locked" {
      // NORMAL
      unbind "Ctrl n"
      bind "Alt n" { SwitchToMode "Normal"; }

      // LOCK
      unbind "Ctrl g"
      bind "Alt g" { SwitchToMode "Locked"; }

      // PANE
      unbind "Ctrl p"
      bind "Alt p" { SwitchToMode "Pane"; }

      // TAB
      unbind "Ctrl t"
      bind "Alt t" { SwitchToMode "Tab"; }

      // RESIZE
      unbind "Ctrl n"
      bind "Alt r" { SwitchToMode "Resize"; }

      // MOVE
      unbind "Ctrl h"
      bind "Alt m" { SwitchToMode "Move"; }

      // SESSION
      unbind "Ctrl o"
      bind "Alt s" { SwitchToMode "Session"; }

      // QUIT
      unbind "Ctrl q"
      bind "Alt q" { Quit; }

      // SEARCH
      unbind "Ctrl s"
      bind "Alt f" { SwitchToMode "Search"; }

      // NEW PANES
      unbind "Ctrl |"
      bind "Alt |" { NewPane; }

      // TMUX
      unbind "Ctrl b"
    }

    locked {
        unbind "Ctrl g"
        bind "Alt g" { SwitchToMode "Normal"; }
    }
}
